# Exclude from git archive (builds)

.github/ export-ignore
.distignore export-ignore
.gitignore export-ignore
.gitattributes export-ignore

bin/ export-ignore
node_modules/ export-ignore
vendor/bin export-ignore
tests/ export-ignore

.phpunit.cache export-ignore
.phpunit.result.cache export-ignore
composer.lock export-ignore
makefile export-ignore
package.json export-ignore
package-lock.json export-ignore
phpunit.xml export-ignore
TODO.md export-ignore
webpack.config.js export-ignore

# Exclude vendor specific files

*.cache export-ignore
*.dev export-ignore
*.dist export-ignore
*.example export-ignore
*.log export-ignore
*.ini export-ignore
*.input export-ignore

vendor/**/test/** export-ignore
vendor/**/tests/** export-ignore
vendor/**/doc/** export-ignore
vendor/**/docs/** export-ignore
vendor/**/example/** export-ignore
vendor/**/examples/** export-ignore