<?xml version="1.0"?>
<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        stopOnFailure="false"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
  <!-- Needs network access and the XRPL testnet faucet; run explicitly with: --group external-http -->
  <groups>
    <exclude>
      <group>external-http</group>
    </exclude>
  </groups>
  <testsuites>
    <testsuite name="tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>